.projectsDiv {
    font-size: x-large;
}

.projectsDiv> div{
    width: 100%;
    height: 60vh;
    padding-top: 2vh;
}


.header{
    height: 30vh;
}

h1 {
    padding-left: 5vw;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.gardenCard {
    background-color: var(--light);
    height: 15%;
    overflow: hidden;
    
}

.todoListCard {
    background-color: var(--middle);
    height: 15%;
    overflow: hidden;
}

.blackjackCard {
    background-color: var(--background);
    height: 15%;
    overflow: hidden;
}