.projectsDiv {
    font-size: x-large;
}

.projectsDiv>div {
    width: 100%;
    height: 60vh;
    padding-top: 2vh;
}


.header {
    height: 30vh;
}

h1 {
    padding-left: 5vw;
    margin: 2vh 0;
    
}

div >h1{
    font-size: 4vh;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.gardenCard {
    background-color: var(--light);
    height: 15%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;

}

.todoListCard {
    background-color: var(--middle);
    height: 15%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.blackjackCard {
    background-color: var(--background);
    height: 15%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

iframe {
    width: 40vw;
    height: 30vh;
    margin-top: 10vh;
    margin-right: 2%;
    border: 2px solid black;
}