.projectsDiv {
    font-size: x-large;
}

.projectsDiv> div{
    width: 100%;
    height: 60vh;
    padding-top: 2vh;
}


.header{
    height: 60vh;
}

h1 {
    padding-left: 5vw;
}

.gardenCard {
    background-color: var(--light);
    
    
}

.todoListCard {
    background-color: var(--middle);


}

.blackjackCard {
    background-color: var(--background);

}