@import '/css/rx-100.css';


:root {
  font-family: 'RX100-Regular', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--darkest);
  color: var(--brightest);


  --background: #1d2d44;
  --darkest: #0d1321;
  --middle: #3e5c76;
  --light: #748cab;
  --brightest: #f0ebd8;


  

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

html, body{
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}