.homeDiv{
    /* color: var(--brightest); */
    font-size: x-large;
    padding-left: 5vw;
}

section{
    display: flex;
    height: 70vh;
    align-items: center;
}

section> img{
    height: 31vh;
    aspect-ratio: 1 / 1;
}

.one{
    background-color: var(--background);
    /* height: 400px;
    width: 400px; */
    height: 31vh;
    aspect-ratio: 1 / 1;
}

.two{
    background-color: var(--middle);
    height: 31vh;
    aspect-ratio: 1 / 1;
}

.three{
    background-color: var(--light);
    height: 31vh;
    aspect-ratio: 1 / 1;
}